@{
    Layout = null;
}

<div class="list-group">
    <a href="#" class="list-group-item active" >用户</a>

    <a href="/UserManage" class="list-group-item">
        <span class="glyphicon glyphicon-list"></span> 查看列表
    </a>
    <a href="/UserManage/Create" class="list-group-item">
        <span class="glyphicon glyphicon-plus"></span> 新建用户
    </a>

</div>


<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">帮助提示</h3>
    </div>
    <div class="panel-body">
        亲，记得要至少保留一个“用户账号”。你懂的！
    </div>
</div>