@{
    ViewBag.Title = "平台概况";
}

<div class="row">
    <div class="col-md-12 ">

        <ol class="breadcrumb">
            <li><a href="/">管理后台</a></li>
            <li class="active">平台概况</li>
        </ol>

        <div class="jumbotron">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <h1>极速框架</h1>
            <p>爱，就要狠狠爱！</p>
            <p><a class="btn btn-primary btn-lg" role="button" href="#">Go</a></p>
        </div>

    </div>
</div>