@{
    Layout = null;
}

<div class="list-group">
    <a href="#" class="list-group-item active" >个人中心</a>

    <a href="/Profile" class="list-group-item">
        <span class="glyphicon glyphicon-user"></span> 个人资料
    </a>
    <a href="/Profile/ChangePassword" class="list-group-item">
        <span class="glyphicon glyphicon-cog"></span> 修改密码
    </a>
</div>